.aboutPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline {
    width: 90vw;
    margin-top: 4em;
    height: 100vh;
}

.timelineItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 20px;
}

#currentItem {
    color: #0E8D44;
}

.story {
    align-items: center;
}

.storyDiv {
    width: 90vw;
}
.storyText {
    text-align: justify;
}

#storyimageDiv {
    width: 90vw;
}

#storyImageDiv img {
    margin: auto;
    max-width: 100%;
}

/* ------- TABLETS --------- */
@media (min-width:600px) {
    .timeline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40vh;
        margin-top: 0;
        width: 80vw;
    }

    .storyDiv {
        width: 80vw;
    }
}

/* ------- DESKTOP --------- */
@media(min-width:912px) {
    h1 {
        font-size: 50px;
        letter-spacing: 0.25rem;
    }

    .aboutPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .timeline {
        width: 60vw;
        height: 80vh;
        align-content: center;
    }

    .timelineItem {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .storyDiv {
        width: 60vw;
        height: 80vh;
    }

    .story {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3em;
    }

    .storyText {
        width: 60vw;
    }

    #storyImageDiv img {
        width: 30vw;
    }

}