.project-tile-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90vw;
    gap: 20px;
    letter-spacing: 0.1rem;
}

/* .project-tile h1 {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.25rem;
    font-family: "Figtree", sans-serif;
} */

.project-tile h1 {
    font-size: 50px;
    letter-spacing: 0.25rem;
}

.project-tile-container h2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
}

.project-tile-container h4 {
    font-weight: 300;
    font-size: 0.8rem;
}

.project-tile1 {
    flex: 1;    
    background-color: #FAF3E6; 
    color: rgb(99, 99, 99);
    padding: 10px;
    text-decoration: none;
}

.project-tile1:hover {
    background-image: url('../UI/financetrackerCard.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    color: transparent;

}

.project-tile2 {
    flex: 1;
    background-color: #1A8444;
    padding: 10px;
    text-decoration: none;
    color: antiquewhite;
}

.project-tile2:hover {
    background-image: url('../projectData/first.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    color: transparent;
}

.project-tile3 {
    flex: 1;
    background-color: #0E8D44;
    padding: 10px;
    text-decoration: none;
    color: antiquewhite;
}

.project-tile3:hover {
    background-image: url('../projectData/pickleball.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    color: transparent;
}


@media (min-width:600px) {

}

@media (min-width:912px) {
    
    .project-tile {
        height: 70vh;
    }

    .project-tile-container {
        flex-direction: row;
        width: 70vw;
        height: 40vh;
    }
}