.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-tile-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90vw;
    gap: 20px;
    letter-spacing: 0.1rem;
}

.project-tile h2 {
    font-size: 40px;
    letter-spacing: 0.25rem;
    font-family: "Montserrat", serif;
}

.project-tile-container h2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
}

.project-tile-container h4 {
    font-weight: 300;
    font-size: 0.8rem;
}

.project-tile1, .project-tile2, .project-tile3 {
    color: antiquewhite;
    padding: 10px;
    text-decoration: none;
}

.project-tile1 {
    background-color: #006e96;
}

.project-tile2 {
    background-color: #006797;
}

.project-tile3 {
    background-color:#008469;
}

.project-tile1:hover {
    background-image: url('../UI/financetrackerCard.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    color: transparent;
}

.project-tile2:hover {
    background-image: url('../projectData/first.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    color: transparent;
}

.project-tile3:hover {
    background-image: url('../projectData/pickleball.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    color: transparent;
}

@media (min-width:600px) {

}

@media (min-width:912px) {
    
    .project-tile {
        margin-bottom: 4rem;
    }

    .project-tile-container {
        flex-direction: row;
        width: 45vw;
        
    }
    .project-tile1 {
        flex: 1;
        height: 340px;
    }
    .project-tile2 {
        flex: 1;
    }
    .project-tile3 {
        height: 300px;
        flex-grow: 1;
    }
}