.App {
  background-color: #fcfcfc;
  font-family: "Figtree", sans-serif;
  color: rgb(83, 83, 83);
}

/* ------- TABLETS --------- */
@media (min-width:800px) {}

/* ------- DESKTOP --------- */
@media(min-width:912px) {}